<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">NFSU Placement Coordinators</h1>
    <br /><br />
    <h2>Feel free to reach out to us at spo@nfsu.ac.in</h2>
  </div>
  <br /><br /><br /><br />
  <h1 class="team-title pop-out">Overall Placement Coordinators</h1>
  <hr />
  <div class="team-cards">
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean, SCSDF</h2>
      <br />
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean, SCSDF</h2>
      <br />
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean, SCSDF</h2>
      <br />
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean, SCSDF</h2>
      <br />
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
  </div>
  <h1 class="team-title pop-out">Associate Coordinators</h1>
  <hr />
  <div class="team-cards">
    <div class="person pop-out">
      <br /><br />
      <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
      <br />
      <h2>Dean, SCSDF</h2>
      <br />
      <h3>Dr. Naveen Kumar Choudhary</h3>
    </div>
  </div>
</div>
